@import url('https://fonts.cdnfonts.com/css/caviar-dreams');
@import url('https://fonts.cdnfonts.com/css/vonique-64');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    height: 65px;
    background-color: #E39A9C;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoCabecalho {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 38px;
}

nav {
    width: 45%;
}

#phoneCall {
    width: 20px;
}

ul {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    color: #F4F4F4;
    font-size: 16px;
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: bold;
}

li:hover {
    color: black;
}

#logoPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.logoPrincipalImg {
    margin-top: 75px;
    width: 100%;
    height: 370px;
}

main {
    width: 100%;
    height: 635px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#principal {
    background-color: #E39A9C;
    border-radius: 15px;
    width: 91%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quemSouText {
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#videoApresentacao {
    width: 83%;
    border: 3px solid #FFFCE6;
    border-radius: 15px;
    margin-bottom: 25px;
}

#conteudoMaquiaguemExpress {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.conteudoMotivoExpress {
    background-color: #ECD0D0;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
    margin-top: 65px;
    width: 70%;
    display: flex;
}

.textMotivo {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.maquiagemExpressImg {
    margin-left: 85px;
    width: 35%;
    display: inline-block;
}

.img {
    height: 300px;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
    margin-top: 20px;
    transition: 2s;
}

.img:hover {
    transform: scale(1.2);
}

.expressTitle {
    margin-top: 25px;
    font-size: 27px;
    font-family: 'Caviar Dreams', sans-serif;
}

.text {
    font-size: 15px;
    font-family: 'Vonique 64', sans-serif;
    margin-top: 15px;
}

#conteudoGeralMaquiagemPersonalizada {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.maquiagemPersonalizadaImg {
    margin-right: 85px;
    width: 35%;
    display: inline-block;
}

.personalizadaImg {
    height: 300px;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 2s;
}

.personalizadaImg:hover {
    transform: scale(1.2);
}

.conteudoMaquiagemPersonalizada {
    width: 70%;
    display: flex;
    background-color: #ECD0D0;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
}
.conteudoPersonalizada {
    display: 75%;
    display: inline-block;
}

.personalizadaTitle {
    margin-top:30px;
    font-size: 27px;
    font-family: 'Caviar Dreams', sans-serif;
}

.textPersonalizada {
    font-size: 15px;
    font-family: 'Vonique 64', sans-serif;
    margin-top: 15px;
    margin-right: 20px;
}

#conteudoGeralPacoteNoiva {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.conteudoPacoteNoiva {
    width: 70%;
    display: flex;
    background-color: #ECD0D0;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
}

.conteudoPacoteNoivatext {
    display: inline-block;
    width: 75%;
    display: flex;
}

.pacoteNoivaTitle {
    margin-top:30px;
    margin-left: 25px;
    font-size: 27px;
    font-family: 'Caviar Dreams', sans-serif;
}

.textPacoteNoiva {
    font-size: 15px;
    font-family: 'Vonique 64', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
}

.pacoteNoiva {
    margin-left: 85px;
    width: 35%;
    display: inline-block;
}

.pacoteNoivaImg {
    margin-top: 25px;
    margin-right: 25px;
    height: 300px;
    border: 3px solid #ECD0D0;
    border-radius: 15px;
    margin-top: 20;
    margin-left: 20px;
    transition: 2s;
}

.pacoteNoivaImg:hover {
    transform: scale(1.2);
}

#formulario {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

form {
    width: 46%;
    display: flex;
    display: inline-block;

}

.titleForm {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 7px;
    font-family: 'Caviar Dreams', sans-serif;
}

.textForm {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family: 'Vonique 64', sans-serif;
}

input {
    margin-left: 15px;
    margin-bottom: 10px;
}

button {
    width: 85px;
    height: 25px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Caviar Dreams', sans-serif;
}

button:hover {
    color: #CC7779;
}

.divisoria {
    display: flex;
    align-items: center;
}

#divisoriaGeral {
    background-color: #C78789;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    display: inline-block;
}

.textDivisoriaGeral {
    display: flex;
    align-items: center;
}

.textDivisoria {
    font-size: 18px;
}

#navDivisoria {
    display: flex;
    align-items: center;
}

.iconeWhatsapp {
    height: 55px;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 138px;
    background-color: #E39A9C;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    margin-top: 95px;
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter {
    height: 65px;
}

#navFooter {
    width: 30%;
}

.ulFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 480px){

    nav {
        display: none;
        width: 100%;
    }

    #logoCabecalho {
        height: 45px;
    }

    .logoPrincipalImg {
        height: 188px;
    }

    main {
        height: 200px;
        width: 100%;
    }

    #principal {
        width: 95%;
    }

    #quemSouText {
        font-size: 22px;
    }

    .conteudoMotivoExpress {
        width: 100%;
    }

    .expressTitle {
        margin-top: 7px;
    }

    .text {
        width: 100%;
        font-size: 15px;
        margin-bottom: 7px;
    }

    .maquiagemExpressImg {
        width: 45%;
        margin-left: 0px;
    }

    .conteudoMaquiagemPersonalizada {
        width: 100%;
    }

    .maquiagemPersonalizadaImg {
        width: 100%;
        margin-right: 5px;
    }

    .conteudoPacoteNoiva {
        width: 100%;
    }

    .conteudoPacoteNoivaText {
        width: 60%;
    }

    .pacoteNoivaImg {
        width: 100%;
    }

    #formulario {
        width: 100%;
    }

    form {
        align-items: center;
        width: 70%
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #navFooter {
        display: block;
        width: 70%;
    }
}